---
layout: work
---

<div class="">

  <div class="bg-slate-900 text-white">

  <%= render Shared::Navbar.new() %>

  <section class="xl:py-20 section text-white">
    <div class="section-content">
      <h1 class="text-6xl text-white -ml-1 font-bold font-montserat">Briefcake</h1> 
    </div>
    <div class="xl:col-span-2 space-y-3 leading-relaxed p-5 md:p-10">
      <p>
      Service for creating a news digest from your news sources. Digest will come once a day to the email
      </p>
      <p>
      UX/UI design, frontend: Ruby on Rails, Jekyll, Tailwind
      </p>

      <a href="www.briefcake.com" target="_blank" class="inline-block my-16 text-purple-400">www.briefcake.com</a>
    </div>
  </section>
  </div>


  <!-- landing -->
<section class="section">
  <div>
    <div class="section-content">
      <h2 class="h2">Landing page</h2>
      <p>
  The updated landing page better reveals what Briefcake is all about through use cases, updated graphics, and clearer texts. This is the second version of the landing page. 
      </p>
      <p>
      The design and frontend of the previous version was also done by me. After the update, we got new registrations and an increase in paid users.
      </p>

      <%= render Shared::ButtonDetail.new(link: "#", color: "bg-purple-500") %>

    </div>
  </div>
  <div class="section-img bg-gradient-to-br from-rose-800 via-fuchsia-800 to-purple-900 ">
    <%= render Shared::Image.new(name: "landing2", project: "briefcake") %>
  </div>
</section>

  <!-- app -->
<section class="section">
  <div>
    <div class="section-content"> 
      <h2 class="h2">Application</h2>
      <p>
      With simplified navigation, the second version of the app makes it easier to add new feeds to your digest. All the main sections are immediately visible. This makes it easier for new users to understand the features of the service.
      </p>
      <p>
      All screens are designed to be comfortable on all screen sizes. The new design makes it easy to add new features.
      </p>
      <%= render Shared::ButtonDetail.new(link: "#", color: "bg-purple-500") %>
    </div>
  </div>
  <div class="section-img bg-gradient-to-br from-slate-800 via-sky-800 to-fuchsia-900 ">
    <%= render Shared::Image.new(name: "app-index", project: "briefcake") %>
    <%= render Shared::Image.new(name: "app-second", project: "briefcake") %>
    <%= render Shared::Image.new(name: "app-add-feed", project: "briefcake") %>
  </div>
</section>

  <!-- app -->
<section class="section">
  <div>
    <div class="section-content">
      <h2 class="h2">Newsletter</h2>
      <p>
The daily newsletter is the most important element of the Briefcake. I've updated the typography and look of the newsletter to make it easier and more enjoyable to read.
      </p>
    </div>
  </div>
  <div class="section-img bg-gradient-to-br from-slate-800 via-sky-800 to-fuchsia-900 ">
    <%= render Shared::Image.new(name: "newsletter", project: "briefcake") %>
  </div>
</section>

<a href="<%= relative_url "hexlet" %>" class="hover:opacity-80">
<section class="bg-slate-800 flex justify-between px-5 md:px-16 text-white text-4xl font-bold text-center py-24">
  <span class="inline-block opacity-60">Next work:</span>
  Hexlet</section>
</a>

</div>


