---
layout: work
---

<div class="">

  <div class="bg-green-700 text-white">

  <%= render Shared::Navbar.new() %>
  </div>


  <!-- landing -->
<section class="section">
  <div>
    <div class="section-content">
      <span class="text-slate-400 text-base">November 2014 — Aug 2019</span>
        <h2 class="font-montserat font-bold text-5xl">hacu platform</h2>
      <div class="pb-16">
      <p class="uppercase text-lg font-montserat">
Platform Helps Banks Promote its Products and Create and Better User Experience
      </p>
      </div>
      <p>My role was:</p>
      <ul class="list-disc list-inside pb-10">
        <li>UX/UI design</li>
        <li>Prototyping (apple keynote)</li>
      </ul>
      <p>
With the hacu platform, a bank can provide customers with the best possible user experience on any platform or device. The sophisticated technology lets a bank promote its products and services with remarkable ease:
      </p>
    </div>
  </div>
  <div class="section-img bg-gradient-to-br from-slate-800 to-green-900 ">
      <video controls autoplay class="mx-auto">
        <source src="<%= relative_url "/images/hacu/hacu.mp4" %>"
      </video>
    <%= render Shared::Image.new(name: "landing2", project: "briefcake") %>
  </div>
</section>

  <!-- app -->
<section class="section">
  <div>
    <div class="section-content"> 
    </div>
  </div>
  <div class="section-img bg-gradient-to-br from-green-800 via-yellow-400 to-green-300  ">
    <%= render Shared::Image.new(name: "hacu-01", project: "hacu") %>
    <%= render Shared::Image.new(name: "hacu-02", project: "hacu") %>
  </div>
</section>

<a href="<%= relative_url "single" %>" class="hover:opacity-80">
<section class="bg-slate-800 flex justify-between px-5 md:px-16 text-white text-4xl font-bold text-center py-24">
  <span class="inline-block opacity-60">Next work:</span>
 Single 
</section>
</a>
</div>


