---
layout: work
---

<div class="">

  <div class="bg-sky-700 text-white">

  <%= render Shared::Navbar.new() %>

  </div>

<section class="section">
  <div>
    <div class="section-content"> 
      <span class="text-slate-400 text-base">2012</span>
        <h2 class="font-montserat font-bold text-5xl">Single Bank</h2>
      <div class="pb-16">
      <p class="uppercase text-lg font-montserat">
      A luxury bank with concierge service and advanced analytics
      </p>
      </div>
      <p>My role was:</p>
      <ul class="list-disc list-inside pb-10">
        <li>UX/UI design</li>
      </ul>
      <p>
In 2012, we tried to create what is now called a "neo-bank". A bank with a simple and clear interfacing, analytics that help us understand where the money goes.
      </p>
    </div>
  </div>
  <div class="section-img bg-gradient-to-br from-slate-800 to-sky-900 ">
    <%= render Shared::Image.new(name: "single-01", project: "single") %>
    <%= render Shared::Image.new(name: "single-02", project: "single") %>
    <%= render Shared::Image.new(name: "single-03", project: "single") %>
    <%= render Shared::Image.new(name: "single-04", project: "single") %>
  </div>
</section>

<a href="<%= relative_url "briefcake" %>" class="hover:opacity-80">
<section class="bg-slate-800 flex justify-between px-5 md:px-16 text-white text-4xl font-bold text-center py-24">
  <span class="inline-block opacity-60">Next work:</span>
  Briefcake
</section>
</a>
</div>


